.wrapper.index-page {
	justify-content: center;
}

.main-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-section .search-container {
	margin: 20px 0 0 0;
	width: 100%;
}
.main-section .search-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-container .search-button {
	color: #3c4043;
	background: #f8f9fa;
  border: 1px solid #f8f9fa;
	outline: none;
  user-select: none;
	border-radius: 4px;
	font-size: 14px;
	margin: 20px 0 0 0;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
	cursor: pointer;
}
.search-container .search-button:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.main-section .search-container .search-box {
  border: 1px solid #dfe1e5;
	outline: none;
	height: 44px;
	width: 70%;
	padding: 12px 24px;
	border-radius: 24px;
	font-size: 16px;
	max-width: 482px;
	color: #000;
}
.main-section .search-container .search-box:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

.main-section .logo-container {
	width: 220px;
	text-align: center;
}
.logo-container img {
	width: 100%;
}

.header {
  border-bottom: 1px solid #ebebeb;
}

.wrapper .header-content {
  display: flex;
  align-items: center;
}
.header-content .logo-container {
  width: 150px;
  padding: 5px 20px;
}
.header-content .search-container {
  flex: 1;
}
.header-content .search-container form {
  margin: 15px 0 28px 0;
}
.header-content .search-bar-container {
  border-radius: 24px;
  background: #fff;
  height: 44px;
  width: 70%;
  max-width: 630px;
  display: flex;
  border: 1px solid #dfe1e5;
  overflow: hidden;
}
.header-content .search-bar-container:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}
.header-content .search-bar-container .search-box {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 12px;
  padding-left: 24px;
  font-size: 16px;
  color: #000;
}
.header-content .search-bar-container button {
  background: #fff;
  border: none;
  outline: none;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 0;
  margin: 0;
}
.header-content .search-bar-container button svg {
  fill: #4285f4;
  width: 24px;
}

.tabs-container {
  margin: 0 0 0 150px;
}
.tabs-container .tab-list {
  padding: 0;
  margin: 0;
}
.tabs-container .tab-list li {
  display: inline-block;
  padding: 0 16px 12px 16px;
  font-size: 13px;
}
.tabs-container .tab-list li a {
  text-decoration: none;
  color: #6e7176;
}
.tabs-container .tab-list li.active {
  border-bottom: 3px solid #1a73e8;
}
.tabs-container .tab-list li.active a {
  color: #1a73e8;
}

.results-section {
  flex: 1;
}
.results-section .site-results {
  padding: 0 150px;
}
.results-section .results-count {
  font-size: 13px;
  color: #808080;
  margin: 15px 0 10px 150px;
}
.result-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 26px 0;
  line-height: 12.;
}
.result-container h3 {
  margin: 0;
}
.result-container a {
  text-decoration: none;
  font-weight: normal;
  color: #1a0dab;
  font-size: 18px;
}
.result-container a:hover {
  text-decoration: underline;
}
.result-container .url, 
.result-container .description {
  font-size: 14px;
  color: #4d5156;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 0 0 25px 0;
  user-select: none;
}
.pagination-container .no-page {
  height: 37px;
}

.pagination-container.images {
  display: none;
}

.page-buttons {
  display: flex;
}
.page-number-container img {
  height: 37px;
}
.page-number-container,
.page-number-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.page-number {
  color: #000;
  font-size: 13px;
}

a .page-number {
  color: #4285f4;
}
a .page-number:hover {
  text-decoration: underline;
}

.results-section .image-results {
  margin: 10px;
}
.image-results .grid-item {
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  width: 390px;
  display: inline-block;
  opacity: 0;
}
.image-results .grid-item.active {
  background: #e8f0fe;
  border: 1px solid #7aa9f7;
}
.grid-item img {
  width: 100%;
  margin: 0 auto;
}
.grid-item:hover img {
  box-shadow: 0 0 10px 5px #d0d0d0;
}
.grid-item a {
  text-decoration: none;
  color: #575a5c;
}
.grid-item a h3 {
  font-size: 14px;
  margin: 4px 0 0 0;
  font-weight: normal;
  max-width: 90%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 390px;
  width: 80%;
}
.grid-item a p {
  font-size: 11px;
  margin: 4px 0 0 0;
}
.grid-item a:hover p {
  text-decoration: underline;
}
.preview {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0; bottom: 0; right: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
.preview .image-wrapper {
  position: relative;
  max-width: 500px;
  will-change: transform;
}
.preview .image-wrapper img {
  width: 100%;
}
.preview .image-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  border: none;
  outline: none;
  border-radius: 100%;
  transition: transform 0.3s ease;
}
.preview .image-wrapper button:hover {
  transform: scale(1.1);
}
.preview hr {
  border: none;
  height: 1px; 
  width: 100%;
  margin: 10px 0;
  background: #27282b;
}
.preview h3, .preview p {
  color: #fff;
}
.preview h3 {
  font-weight: 500;  
  margin: 0 0 10px 0;
  font-size: 20px;
  max-width: 500px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.preview h3 a {
  color: #fff;
  text-decoration: none;
}
.preview h3 a:hover {
  text-decoration: underline;
}
.preview p {
  margin: 0;
  font-size: 12px;
  color: #9aa0a6;
}